<div class="container">
	<table class="table table-hover">
	  <thead>
		<tr>
		  <th scope="col">BookId</th>
		  <th scope="col">BookName</th>
		  <th scope="col">Author</th>
		  <th scope="col">Genre</th>
		  <th scope="col">ISBN</th>
		</tr>
	  </thead>
	  <tbody>
		<tr *ngFor="let book of books">
			<td>{{book.bookId}}</td>
			<td>{{book.bookName}}</td>
			<td>{{book.author}}</td>
			<td>{{book.genre}}</td>
			<td>{{book.isbn}}</td>
			<td>
			<button class = "btn btn-danger" (click)="deleteBook(book)">Delete</button>
			<button class = "btn btn-primary"(click)="updateBook(book)">Edit</button>
			</td>
		</tr>
	  </tbody>
	</table>
	<button class = "btn btn-primary"(click)="newBook()">New Book</button>
</div>